{% extends 'base.html' %}

{% block title %}
    confirm
{% endblock  %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}

                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
         <h3> We have sent an OTP to your email. {{ username }} </h3>

        <form method="post" action="/confirm" autocomplete="on">
        <input type="text" id="otp" name="otp" maxlength="4"
               placeholder="Enter OTP in email here" autofocus required><br><br>
        <input type="submit" value="Submit"><br><br>
        </form>

     </div>

{% endblock %}
