{% extends 'base.html' %}

{% block title %}
    login
{% endblock  %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}

                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1> Login </h1>

    <div>
         <form method="post" action="{{ url_for('login') }}" autocomplete="on">

            <input type="email" id="email" name="email" maxlength="40"
                   placeholder="email" required><br><br>

            <input type="password" id="password" name="password" maxlength="64" min="6"
                   placeholder="password" required><br><br>



            <input type="submit" value=" Login "><br><br>

        </form>

        <form method="get" action="{{ url_for('sign_up') }}" >

            <p> Don't have an account? <a href="{{ url_for('sign_up') }}"> Sign up  </a></p><br>

        </form>
        <form method="get" action="{{ url_for('account_recovery') }}" >

            <p> Forgot your password? <a href="{{ url_for('account_recovery') }}"> Reset here  </a></p><br>

        </form>
    </div>


{% endblock %}
