{% extends 'base.html' %}

{% block title %}
    reset password
{% endblock  %}

{% block content %}
     <h1> Reset password </h1>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div><br/><br/>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>

         <form method="post" action="{{ url_for('reset_password') }}" autocomplete="on">
            <p> Type in your new password </p>
            <input type="password" id="new_password" name="new_password" maxlength="64" min="6"
                   placeholder="Enter new password" required><br><br>
            <p> Type in your new password </p>
            <input type="password" id="confirm_new_password" name="confirm_new_password" maxlength="64" min="6"
                   placeholder="Repeat new password" required><br><br>


            <input type="submit" value=" Reset password "><br><br>

        </form>

        <form method="get" action="{{ url_for('sign_up') }}" >

            <p> Don't have an account? <a href="{{ url_for('sign_up') }}"> SIGN UP  </a></p><br>

        </form>
        <form method="get" action="{{ url_for('account_recovery') }}" >

            <p> Forgot your password? <a href="{{ url_for('account_recovery') }}"> Reset here  </a></p><br>

        </form>
    </div>


{% endblock %}

