{% extends 'base.html' %}

{% block title %}
    sign up
{% endblock  %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}

                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1> Sign up </h1>

    <div>

        <form method="post" action="/sign_up" autocomplete="on">
        <input type="text" id="username" name="username" maxlength="40"
               placeholder="username" autofocus required><br><br>

        <input type="email" id="email" name="email" maxlength="40"
               placeholder="email" required><br><br>

        <input type="password" id="password" name="password" maxlength="64" min="6"
               placeholder="password" required><br><br>

        <input type="submit" value="Sign up"><br><br>
    </form>

        <form method="get" action="{{ url_for('login') }}" >
            <p> Already have an account? <a href="{{ url_for('login') }}"> Login  </a></p><br>
        </form>

    </div>

{% endblock %}
